.catalog {
  padding: 30px 0 50px;
}

.catalog__item-text {
  font-size: 30px;
}

.catalog__item-excerpt {
  font-size: 40px;
  font-weight: 700;
}

.catalog__item-desc {
  font-size: 30px;
  font-weight: 700;
}

.catalog__item-num {
  width: 88px;
  height: 88px;
  padding: 24px 9px;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--yellow-color, #FFBD13);
  border-radius: 50%;
}

.catalog__item-num_sale_down {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.catalog__item-num_sale_up {
  position: absolute;
  top: 20px;
  left: 20px;
}

.catalog__item-text_big_blue {
  padding: 34px 24px;
  font-size: 40px;
  line-height: 1.2;
  background-color: var(--bg-color, #38C0EB);
  border-radius: 20px;
}

.catalog__item-excerpt-lg {
  font-size: 56px;
}

.catalog__item-text-lg {
  font-size: 40px;
  font-weight: 700;
}

.catalog__item-text-small {
  font-size: 30px;
}

.catalog__item-text_big_white {
  max-width: 643px;
  padding: 32px 41px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  background-color: var(--white-color, #FFFFFF);
  color: #F91155;
  text-transform: uppercase;
  border-radius: 20px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 245px)) minmax(min-content, 550px) minmax(180px, 245px) minmax(min-content, 245px);
  grid-template-rows: repeat(2, minmax(max-content, 245px)) repeat(2, minmax(max-content, 245px));
  grid-template-areas:
    "book time sneakers present present"
    "sneaker sneaker sneakers notebook notebook"
    "new-year new-year new-year cloth chemistry"
    "new-year new-year new-year cloth toys";
  gap: var(--gap);
}

.catalog__item {
  display: grid;
  position: relative;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog__item_type_book {
  grid-area: book;
  align-items: end;
  padding: 20px 35px 20px 20px;
  background-image: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 9.23%, rgba(0, 0, 0, 0.20) 98.87%), url("../img/Book.jpeg");
}

.catalog__item_type_time {
  grid-area: time;
  grid-template-rows: minmax(max-content, 117px) 1fr;
  align-items: end;
  padding: 0 0px 20px 14px;
  background-image: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 30.77%, rgba(0, 0, 0, 0.20) 99.83%), url("../img/Time.jpeg");
}

.catalog__item_type_sneaker {
  grid-area: sneaker;
  background-image: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 8.18%, rgba(0, 0, 0, 0.20) 99.15%), url("../img/Sneaker.jpeg");
}

.catalog__item_type_sneakers {
  grid-area: sneakers;
  align-items: end;
  padding: 22px 20px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 25.39%, rgba(0, 0, 0, 0.16) 100%), url("../img/Sneakers.jpeg");
}

.catalog__item_type_present {
  grid-area: present;
  align-items: end;
  padding: 30px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 7.46%, rgba(0, 0, 0, 0.20) 100%), url("../img/Present.jpeg");
}

.catalog__item_type_notebook {
  grid-area: notebook;
  align-items: end;
  padding: 30px 108px 30px 30px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 12.28%, rgba(0, 0, 0, 0.20) 100%), url("../img/Notebook-2.jpeg");
}

.catalog__item_type_chemistry {
  grid-area: chemistry;
  align-items: end;
  padding: 20px;
  background-image: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 30.77%, rgba(0, 0, 0, 0.20) 99.83%), url("../img/Chemistry.jpeg");
}

.catalog__item_type_toys {
  grid-area: toys;
  background-image: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 30.77%, rgba(0, 0, 0, 0.20) 99.83%), url("../img/Toys.jpeg");
  background-position: left;
  transform: scaleX(-1);
}

.catalog__item_type_cloth {
  grid-area: cloth;
  background-image: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 30.77%, rgba(0, 0, 0, 0.20) 99.83%), url("../img/Cloth.jpeg");
}

.catalog__item_type_new-year {
  grid-area: new-year;
  align-items: end;
  padding: 50px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 25.39%, rgba(0, 0, 0, 0.16) 100%), url("../img/New-year.jpeg");
}

@media (max-width: 1490px) {
  .catalog {
    padding: 11px 0 50px;
  }

  .catalog__item-text {
    font-size: 24px;
  }

  .catalog__item-excerpt {
    font-size: 30px;
  }

  .catalog__item-desc {
    font-size: 24px;
  }

  .catalog__item-num_sale_down {
    bottom: 10px;
    right: 10px;
  }

  .catalog__item-num_sale_up {
    top: 10px;
    left: 10px;
  }

  .catalog__item-text_big_blue {
    padding: 32px 44px 32px 25px;
    font-size: 30px;
  }

  .catalog__item-excerpt-lg {
    font-size: 40px;
  }

  .catalog__item-text-lg {
    font-size: 30px;
  }

  .catalog__item-text-small {
    font-size: 20px;
  }

  .catalog__item-text_big_white {
    max-width: 513px;
    padding: 24px 47px;
    font-size: 30px;
  }

  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(max-content, 217px));
    grid-auto-rows: minmax(max-content, 418px);
    grid-template-areas:
      "book time sneakers sneakers"
      "sneaker sneaker sneakers sneakers"
      "present present cloth chemistry"
      "notebook notebook cloth toys"
      "new-year new-year new-year new-year";
  }

  .catalog__item {
    border-radius: 16px;
  }

  .catalog__item_type_book {
    padding: 0 16px 25px 10px;
  }

  .catalog__item_type_time {
    grid-template-rows: minmax(max-content, 88px) 1fr;
    padding: 0 0px 0px 5px;
  }

  .catalog__item_type_sneakers {
    padding: 22px;
  }

  .catalog__item_type_present {
    padding: 30px 35px 30px 20px;
  }

  .catalog__item_type_notebook {
    padding: 30px 108px 22px 15px;
  }

  .catalog__item_type_chemistry {
    padding: 0 10px 14px;
  }

  .catalog__item_type_toys {
    background-size: inherit;
    background-position: bottom left;
  }

  .catalog__item_type_new-year {
    padding: 39px 30px;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding: 20px 0 50px;
  }

  .catalog__item-text {
    font-size: 20px;
    line-height: 1.1;
  }

  .catalog__item-excerpt {
    font-size: 26px;
  }

  .catalog__item-desc {
    font-size: 16px;
  }

  .catalog__item-num {
    width: 50px;
    height: 50px;
    padding: 15px 6px;
    font-size: 16px;
  }

  .catalog__item-num_sale_down {
    bottom: 10px;
    right: 10px;
  }

  .catalog__item-num_sale_up {
    top: 10px;
    left: 10px;
  }

  .catalog__item-text_big_blue {
    padding: 16px 0 16px 28px;
    font-size: 16px;
    line-height: 1.1;
  }

  .catalog__item-text-lg {
    font-size: 16px;
    line-height: 1.2;
  }

  .catalog__item-text-small {
    font-size: 16px;
  }

  .catalog__item-text_big_white {
    max-width: 347px;
    padding: 22px 33px;
    font-size: 20px;
    line-height: 1.2;
  }

  .catalog__list {
    grid-template-columns: repeat(2, minmax(90px, 140px)) minmax(90px, 220px) minmax(min-content, 140px);
    grid-template-rows: repeat(2, minmax(max-content, 140px)) minmax(min-content, 60px) repeat(3, 60px);
    grid-auto-rows: minmax(max-content, 337px);
    grid-template-areas:
      "book time sneakers sneakers"
      "sneaker sneaker sneakers sneakers"
      "present present cloth chemistry"
      "notebook notebook cloth toys"
      "new-year new-year new-year new-year";
  }

  .catalog__item {
    border-radius: 12px;
  }

  .catalog__item_type_book {
    padding: 0 15px 20px 10px;
  }

  .catalog__item_type_time {
    grid-template-rows: minmax(max-content, 37px) 1fr;
    padding: 0 0px 0px 5px;
  }

  .catalog__item_type_sneakers {
    grid-row: 1/4;
    padding: 10px;
  }

  .catalog__item_type_present {
    grid-row: 3/5;
    grid-template-columns: minmax(min-content, 140px);
    padding: 20px;
  }

  .catalog__item_type_notebook {
    grid-row: 5/7;
    padding: 30px 108px 22px 15px;
  }

  .catalog__item_type_chemistry {
    grid-row: 4/6;
    padding: 0 10px 14px;
  }

  .catalog__item_type_toys {
    grid-row: 6;
    background-size: cover;
  }

  .catalog__item_type_cloth {
    grid-row: 4/7;
    background-position: top;
  }

  .catalog__item_type_new-year {
    grid-row: 7;
    padding: 26px 26px;
  }
}

@media (max-width: 550px) {
  .catalog {
    padding: 10px 0 50px;
  }

  .catalog__item-text {
    font-size: 12px;
  }

  .catalog__item-excerpt {
    font-size: 16px;
  }

  .catalog__item-desc {
    font-size: 12px;
  }

  .catalog__item-num_sale_down {
    bottom: 5px;
    right: 5px;
  }

  .catalog__item-num_sale_up {
    top: 5px;
    left: 5px;
  }

  .catalog__item-text_big_blue {
    padding: 9px 0 9px 25px;
    font-size: 12px;
    border-radius: 8px;
  }

  .catalog__item-text-lg {
    font-size: 12px;
  }

  .catalog__item-text-small {
    font-size: 12px;
  }

  .catalog__item-text_big_white {
    max-width: 250px;
    padding: 9px 41px;
    font-size: 12px;
    border-radius: 8px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(min-content, 130px) minmax(min-content, 118px) minmax(min-content, 280px) repeat(2, minmax(min-content, 118px)) repeat(2, minmax(min-content, 130px));
    grid-auto-rows: minmax(max-content, 123px);
    grid-template-areas:
      "book time"
      "sneaker sneaker"
      "sneakers sneakers"
      "present present"
      "notebook notebook"
      "cloth chemistry"
      "cloth toys"
      "new-year new-year";
  }

  .catalog__item {
    border-radius: 8px;
  }

  .catalog__item_type_book {
    padding: 0 31px 10px 10px;
  }

  .catalog__item_type_time {
    grid-template-rows: minmax(max-content, 46px) 1fr;
    padding: 0 0px 0px 10px;
  }

  .catalog__item_type_sneakers {
    grid-row: 3/4;
    padding: 10px;
  }

  .catalog__item_type_present {
    grid-row: 4;
    grid-template-columns: minmax(min-content, 170px);
    padding: 14px 10px;
  }

  .catalog__item_type_notebook {
    grid-row: 5;
    padding: 30px 108px 14px 10px;
  }

  .catalog__item_type_chemistry {
    grid-row: 6;
    padding: 0 0 8px 8px;
  }

  .catalog__item_type_toys {
    grid-row: 7;
    background-size: 180%;
  }

  .catalog__item_type_cloth {
    grid-row: 6/8;
    background-position: top;
  }

  .catalog__item_type_cloth>.catalog__item-num_sale_down {
    bottom: 10px;
    right: 10px;
  }

  .catalog__item_type_new-year {
    grid-row: 8;
    padding: 8px 0 8px 15px;
  }
}