:root {
  --bg-color: #38C0EB;
  --black-color: #2D2D2D;
  --white-color: #FFFFFF;
  --blue-color: #3670C7;
  --yellow-color: #FFBD13;
  --gap: 60px;
}

@media (max-width: 1024px) {
  :root {
    --gap: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --gap: 20px;
  }
}